---
title: News from the JBoss AS / WildFly, Docker and Fedora world
layout: base
---

%div#left-column.span7{:style => "margin-left:0;"}
  - for post in page.posts
    .post
      %h2.title
        %a{:href=>post.url}= post.title
      .byline{:style => "border-bottom: 1px solid #eee; margin-bottom: 10px; padding-bottom: 10px;"}
        .author <strong>#{post.author}</strong>
        .date #{post.timestamp.strftime( '%a, %d %b %Y %H:%M' )}
        .tags
          - unless post.tags.empty?
            - post.tags.each do |tag|
              %a{:href=>tag.primary_page.url}
                = tag
      .body
        ~ post.abstract
      .comments
  = page.posts.links
%div#right-column.span2
  %h3 Tags
  .tag-cloud
    = site.posts_tag_cloud


