---
layout: base
---

%div#left-column.span6
  %article
    %h1.pagetitle #{page.title}
    .body
      ~ content
  .comments
    = page.disqus_comments
%div#right-column.span2
  .post
    .byline
      .author <strong>#{page.author}</strong>
      .date #{page.timestamp.strftime( '%a, %d %b %Y %H:%M' )}
      .tags
        - unless page.tags.empty?
          - page.tags.each do |tag|
            %a{:href=>tag.primary_page.url}
              = tag
  #cc{:style => "margin-top: 10px;"}
    :plain
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/pl/deed.en"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/pl/80x15.png" /></a>
  #twitter
    :plain
      <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="marekgoldmann">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  #googleplus
    :plain
      <div class="g-plusone" data-size="medium"></div>

      <script type="text/javascript">
        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

